<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p class="card-text">Je suis un composant envoyé depuis le serveur</p>
  </div>
</div>
  
  <script>
 
    console.log('Bonjour depuis la balise script de ce Composant')

  </script>
  