
<div class="container">
  <h1 class="">Bonjour <br /> Utilisateur!</h1>
  <div class="">
    <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/hello'">Dire bonjour</button>
    <button class="btn btn-outline-dark" onclick="window.location.href='/calcul'">Calculette</button>
    <button class="btn btn-outline-dark" onclick="alert('Bouton 3 cliqué!')">Bouton 3</button>
  </div>

  <%- content %>
</div>