

<div id="this-component" class="card" style="width: 18rem;">
  <button id="btn-close" type="button" class="btn-close" aria-label="Close"></button>
  
  <div class="card-body">
    <p class="card-text">Je suis un composant envoyé depuis le serveur</p>
  </div>
</div>


  <script>
 
   document.getElementById('btn-close').addEventListener('click', () => {
    document.getElementById("this-component").remove();
   });
 

  </script>
  
  